nodered/flows.json
[{"id":"c19db200.5491c","type":"tab","label":"TestFlow","disabled":false,"info":""},{"id":"377fc36b.a18a0c","type":"tab","label":"RPI Flow","disabled":false,"info":""},{"id":"d6a0f0c8.5b22e8","type":"mqtt-broker","z":"","name":"temperature","broker":"web","port":"1883","clientid":"node-red-bot","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5cc4673a.16b83","type":"influxdb","z":0,"hostname":"influx_database","port":"8086","protocol":"http","database":"testDatabase","name":"Test Database","usetls":false,"tls":""},{"id":"c5c4efa7.edcff8","type":"inject","z":"c19db200.5491c","name":"test","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"surname\":\"Goodbye Hell\"}","payloadType":"json","x":110,"y":120,"wires":[["a4e9fdea.bdac38","9b1cb058.d28198"]]},{"id":"a357938f.2dbae","type":"debug","z":"c19db200.5491c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"9b1cb058.d28198","type":"function","z":"c19db200.5491c","name":"","func":"msg.payload.surname += \" injected\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":190,"y":300,"wires":[["a357938f.2dbae"]]},{"id":"12a7d37c.1c0f75","type":"mqtt in","z":"c19db200.5491c","name":"test_topic","topic":"test_topic","qos":"2","datatype":"auto","broker":"d6a0f0c8.5b22e8","x":120,"y":420,"wires":[["a357938f.2dbae"]]},{"id":"20aae87d.949db8","type":"mqtt in","z":"377fc36b.a18a0c","name":"pi_dht","topic":"pi_dht","qos":"2","datatype":"auto","broker":"d6a0f0c8.5b22e8","x":190,"y":420,"wires":[["8aace996.49ba38"]]},{"id":"f4e863d6.b245b8","type":"debug","z":"377fc36b.a18a0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"2e528e4b.6ba24a","type":"json","z":"377fc36b.a18a0c","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":440,"wires":[["f4e863d6.b245b8","40a02136.114ac8"]]},{"id":"d01f088b.ca34c8","type":"inject","z":"377fc36b.a18a0c","name":"","props":[{"p":"payload"},{"p":"debug","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\":\"world\"}","payloadType":"json","x":240,"y":500,"wires":[["2e528e4b.6ba24a"]]},{"id":"40a02136.114ac8","type":"switch","z":"377fc36b.a18a0c","name":"filter injects","property":"debug","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":360,"wires":[["5dd48d92.51b344","db89946f.94565"]]},{"id":"d4d03da9.d47f3","type":"inject","z":"c19db200.5491c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sendMessageToId","payload":"[\"+41795778541@c.us\",\"Hello from Node-Red\"]","payloadType":"json","x":140,"y":620,"wires":[[]]},{"id":"5f4f9b1a.61c6c4","type":"debug","z":"c19db200.5491c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":620,"wires":[]},{"id":"9cf8aeeb.220e08","type":"mqtt in","z":"377fc36b.a18a0c","name":"shaun_study","topic":"dht22_SHAUN_STUDY","qos":"2","datatype":"auto","broker":"d6a0f0c8.5b22e8","x":190,"y":240,"wires":[["176fc574.35ce4b"]]},{"id":"176fc574.35ce4b","type":"function","z":"377fc36b.a18a0c","name":"parse payload","func":"var pl = msg.payload.split(\",\").map(parseFloat);\n\nmsg.payload = {\n    temperature: pl[0],\n    humidity: pl[1]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["df4ed162.49fd48"]]},{"id":"7929a39a.92c024","type":"inject","z":"377fc36b.a18a0c","name":"TEST","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"debug","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"dht22_TEST","payload":"123.123,456.456","payloadType":"str","x":210,"y":180,"wires":[["176fc574.35ce4b"]]},{"id":"f59150ac.f5b88","type":"switch","z":"377fc36b.a18a0c","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dht22_SHAUN_STUDY","vt":"str"},{"t":"eq","v":"dht22_FERGUS_ROOM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":320,"wires":[["f1b789b9.3674d8"],["5dd48d92.51b344"]]},{"id":"df4ed162.49fd48","type":"switch","z":"377fc36b.a18a0c","name":"filter injects","property":"debug","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":220,"wires":[["f59150ac.f5b88","db89946f.94565"]]},{"id":"2ef54ada.641d4e","type":"mqtt in","z":"377fc36b.a18a0c","name":"fergus_room","topic":"dht22_FERGUS_ROOM","qos":"2","datatype":"auto","broker":"d6a0f0c8.5b22e8","x":190,"y":300,"wires":[["176fc574.35ce4b"]]},{"id":"db89946f.94565","type":"debug","z":"377fc36b.a18a0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"8aace996.49ba38","type":"function","z":"377fc36b.a18a0c","name":"mv: topic","func":"msg.topic = \"dht22_FERGUS_ROOM\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["2e528e4b.6ba24a"]]},{"id":"a4e9fdea.bdac38","type":"influxdb out","z":"c19db200.5491c","influxdb":"5cc4673a.16b83","name":"testDatabase.influx","measurement":"content","precision":"","retentionPolicy":"","x":530,"y":120,"wires":[]},{"id":"5dd48d92.51b344","type":"influxdb out","z":"377fc36b.a18a0c","influxdb":"5cc4673a.16b83","name":"iDB: fergus","measurement":"dht22_FERGUS_ROOM","precision":"","retentionPolicy":"","x":850,"y":280,"wires":[]},{"id":"f1b789b9.3674d8","type":"influxdb out","z":"377fc36b.a18a0c","influxdb":"5cc4673a.16b83","name":"iDB: shaun","measurement":"dht22_SHAUN_STUDY","precision":"","retentionPolicy":"","x":850,"y":240,"wires":[]}]