nodered/flows.json
[{"id":"a93720e1.4a16e8","type":"tab","label":"RPI Flow","disabled":false,"info":""},{"id":"157770b5.676e2f","type":"mqtt-broker","z":"","name":"temperature","broker":"web","port":"1883","clientid":"node-red-bot","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"deaf1829.632aa","type":"mqtt-broker","z":"","name":"temperature","broker":"web","port":"1883","clientid":"node-red-bot","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"88e7a184.d57d3","type":"influxdb","z":"","hostname":"influx_database","port":"8086","protocol":"http","database":"mqtt","name":"MQTT","usetls":false,"tls":""},{"id":"b3de4d16.876948","type":"mqtt in","z":"a93720e1.4a16e8","name":"pi_dht","topic":"pi_dht","qos":"2","datatype":"auto","broker":"deaf1829.632aa","x":190,"y":420,"wires":[["dca4bb77.6c36f"]]},{"id":"ebe46194.efdfe8","type":"debug","z":"a93720e1.4a16e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":440,"wires":[]},{"id":"af95559e.0aacc8","type":"json","z":"a93720e1.4a16e8","name":"","property":"payload","action":"obj","pretty":false,"x":430,"y":440,"wires":[["ebe46194.efdfe8","fb65b5a3.0698d"]]},{"id":"7b28facc.fc50c4","type":"inject","z":"a93720e1.4a16e8","name":"","props":[{"p":"payload"},{"p":"debug","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"hello\":\"world\"}","payloadType":"json","x":240,"y":500,"wires":[["af95559e.0aacc8"]]},{"id":"fb65b5a3.0698d","type":"switch","z":"a93720e1.4a16e8","name":"filter injects","property":"debug","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":360,"wires":[["2ab71f1c.45a7a","c1d6d964.e3872"]]},{"id":"598d999.be77468","type":"mqtt in","z":"a93720e1.4a16e8","name":"shaun_study","topic":"dht22_SHAUN_STUDY","qos":"2","datatype":"auto","broker":"deaf1829.632aa","x":190,"y":240,"wires":[["1a8bb844.9cb648"]]},{"id":"1a8bb844.9cb648","type":"function","z":"a93720e1.4a16e8","name":"parse payload","func":"var pl = msg.payload.split(\",\").map(parseFloat);\n\nmsg.payload = {\n    temperature: pl[0],\n    humidity: pl[1]\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":280,"wires":[["29ef8aa8.96465e"]]},{"id":"50ca942c.8a0b84","type":"inject","z":"a93720e1.4a16e8","name":"TEST","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"debug","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"dht22_TEST","payload":"123.123,456.456","payloadType":"str","x":230,"y":180,"wires":[["1a8bb844.9cb648"]]},{"id":"529aba10.060f0c","type":"switch","z":"a93720e1.4a16e8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"dht22_SHAUN_STUDY","vt":"str"},{"t":"eq","v":"dht22_FERGUS_ROOM","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":320,"wires":[["2a6a493.fa02ab6"],["2ab71f1c.45a7a"]]},{"id":"29ef8aa8.96465e","type":"switch","z":"a93720e1.4a16e8","name":"filter injects","property":"debug","propertyType":"msg","rules":[{"t":"neq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":220,"wires":[["529aba10.060f0c","c1d6d964.e3872"]]},{"id":"bff89cb0.ea1b98","type":"mqtt in","z":"a93720e1.4a16e8","name":"fergus_room","topic":"dht22_FERGUS_ROOM","qos":"2","datatype":"auto","broker":"deaf1829.632aa","x":190,"y":300,"wires":[["1a8bb844.9cb648"]]},{"id":"c1d6d964.e3872","type":"debug","z":"a93720e1.4a16e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":200,"wires":[]},{"id":"dca4bb77.6c36f","type":"function","z":"a93720e1.4a16e8","name":"mv: topic","func":"msg.topic = \"dht22_FERGUS_ROOM\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":360,"wires":[["af95559e.0aacc8"]]},{"id":"2ab71f1c.45a7a","type":"influxdb out","z":"a93720e1.4a16e8","influxdb":"88e7a184.d57d3","name":"iDB: fergus","measurement":"dht22_FERGUS_ROOM","precision":"","retentionPolicy":"","x":850,"y":280,"wires":[]},{"id":"2a6a493.fa02ab6","type":"influxdb out","z":"a93720e1.4a16e8","influxdb":"88e7a184.d57d3","name":"iDB: shaun","measurement":"dht22_SHAUN_STUDY","precision":"","retentionPolicy":"","x":850,"y":240,"wires":[]}]